.inputText {
  text-align:center;
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  font-size: 20px;
  letter-spacing: .2rem;
}

input:focus {
  border: 2px solid rgb(163, 194, 234);
  outline: rgb(163, 194, 234);
}

.main {
  background: #fffaef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.result {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 140px;
  height: 40px;
}